In [4]:
#1. Print numbers from 1 to 5 using a while loop.
#2. Calculate the sum of numbers from 1 to 10 using a while loop.
#3. Calculate the factorial of a number using a for loop.
#4. Count the number of vowels in a string using a for loop.
#5. Print a pattern using nested loops.
#6. Generate a multiplication table using nested loops.

In [3]:
#Ans no 1:

a = 1
while a <= 5:
    print(a)
    a+=1

1
2
3
4
5

In [5]:
#Ans no 2:
num = 1
total_sum = 0
while num <= 10:
    total_sum += num
    num += 1
print("The sum of numbers from 1 to 10 is:", total_sum)

The sum of numbers from 1 to 10 is: 55

In [10]:
#Ans no 3:
def factorial(n):
    fact_result = 1
    for i in range(1, n + 1):
        fact_result *= i
    return fact_result

number = int(input("Give the number:"))
result = factorial(number)
print(f"The factorial of {number} is:", result)

Give the number: 6

The factorial of 6 is: 720

In [15]:
#Ans no 4:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1
    return vowel_count

input_str = input("String is :") #"Hello World"
num_vowels = count_vowels(input_str)
print("Number of vowels:", num_vowels)

String is : PWSkills

Number of vowels: 1

In [18]:
#Ans no 5:

num_rows = 5

for i in range(1, num_rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")  
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
#Ans no 6:

num_rows = int(input("Number of row :")) #give 10
num_cols = int(input("Number of columns :")) #give 10


for i in range(1, num_rows + 1):
    for j in range(1, num_cols + 1): 
        print(i * j, end="\t")  
    print()

Number of row : 10
Number of columns : 10

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100