In [27]:
#1.Convert an integer to a floating-point number.
a = 6
print("Type is :",type(a))
b=float(a)
print("Type is :",type(b))
print("Converting to Float:",b)

Type is : <class 'int'>
Type is : <class 'float'>
Converting to Float: 6.0

In [66]:
#2.Convert a float to an integer.
a = 66.4545687327
print("Type is :",type(a))
b=int(a)
print("Type is :",type(b))
print("Converting to Integer:",b)

Type is : <class 'float'>
Type is : <class 'int'>
Converting to Integer: 66

In [64]:
#3.Convert an integer to a String.
a = 99.8
b=str(a)
print("Type is:",type(a))
print("Converting to String:",b)
print("Type is:",type(b))

Type is: <class 'float'>
Converting to String: 99.8
Type is: <class 'str'>

In [49]:
#4.Convert an List to a Tuple.
lis = [1,2,'a','abc',10.9,3+7j]
print("Type is :",type(lis))
print(lis)

Type is : <class 'list'>
[1, 2, 'a', 'abc', 10.9, (3+7j)]

In [45]:
tup=tuple(lis)
print(tup)

(1, 2, 'a', 'abc', 10.9, (3+7j))

In [50]:
#5.Convert an Tuple to a List.
tup = (1,2,'a','abc',10.9,3+7j)
print("Type is :",type(tup))
print(tup)

Type is : <class 'tuple'>
(1, 2, 'a', 'abc', 10.9, (3+7j))

In [53]:
lis=list(tup)
print("Type is :",type(lis))
print(lis)

Type is : <class 'list'>
[1, 2, 'a', 'abc', 10.9, (3+7j)]

In [63]:
#6.Convert an decimal no to a binary.
ab = 10
bin_str = bin(ab)
print("The binary string is :",bin_str)
print("Type is :",type(bin_str))

The binary string is : 0b1010
Type is : <class 'str'>

In [62]:
#7.Convert an non-zero number to boolean.
ab = 786
boolean_num=bool(ab)
print("Type is :",type(ab))
print(boolean_num)
print("Type is :",type(boolean_num))

Type is : <class 'int'>
True
Type is : <class 'bool'>